<div id="notes-sidebar" class="sidebar" *ngIf="!sidebarClosed"> 
    <a href="#" class="closebtn" (click)="closeNav($event)">x</a>
    <ul *ngIf="notesList.length != 0; else noNoteFound">
      <li *ngFor="let note of notesList" (click)="setActiveNote(note)">
        <div>
          {{note.title}}
        </div>
        <div>
          <span>
              {{note && note.timeStamp ? parseTSDate(note.timeStamp) : (Date.now()).toLocaleTimeString()}}
          </span>
          <span>
              {{note.description}}
          </span>
        </div>
      </li>
    </ul>

    <ng-template #noNoteFound>
      <ul>
        <li>
          No Notes Available.
        </li>
      </ul>
    </ng-template>
</div>

<div id="notes-list-e" *ngIf="sidebarClosed">
    <a href="#" class="openbtn" (click)="openNav($event)">☰</a>
</div>