.toolbar-container {
    text-align: center;
}

.tb-ele {
    margin: 18px;
    color: white;
    background: black;
    border-radius: 5px;
    padding: 7px;
}

.search {
    background: inherit;
    color: black;
}